*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: red;
    padding: 10px 10px 0 60px;
}
.image {
    width: 20px;
    height: 20px;
}
.box {
    margin: 0;
    padding: 0;
    
}
.box1 {
    width: 400px;
    height: 30px;
    border-radius: 4px;
    background-color: white;
    margin-top: 7px;
}
.box1 img {
    margin: 5px 0 0 20px;
}
.body {
    padding: 8px 20px 0 60px;
    display: flex;
    background-color: #DEEEF5;
}
